@media screen and (min-width: 769px) and (max-width: 980px) {

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    width: 100%;
    max-width: 502px;
    float: left;
    border: 1px solid #ddd;
    margin-left: 65px;
    height: 1482px;
	}

.work {
    width: 274px;
    overflow: auto;
    position: relative;
    float: left;
    margin: 20px 0 25px;
    width: 428px;
}
}
